In [1]:
import pandas as pd

In [2]:
my_idx=['Istanbul','Izmir','Ankara','Bursa']
my_idx

['Istanbul', 'Izmir', 'Ankara', 'Bursa']

In [3]:
my_data=[15.4,4.3,5.6,3]
my_data

[15.4, 4.3, 5.6, 3]

In [4]:
pd.Series(my_data,my_idx)

Istanbul    15.4
Izmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [ ]:
#series with dictionary

In [34]:
q1={
    'Istanbul': 15.4,
    'Izmir':4.3,
    'Ankara':5.6,
    'Bursa':3
}
q1

{'Istanbul': 15.4, 'Izmir': 4.3, 'Ankara': 5.6, 'Bursa': 3}

In [38]:
sales_q1=pd.Series(data=q1)
sales_q1

Istanbul    15.4
Izmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [36]:
q2={'Istanbul': 1.4, 'Rize': 4.3, 'Ankara': 9.6, 'Ordu': 3.9, 'Van': 4.5}
q2

{'Istanbul': 1.4, 'Rize': 4.3, 'Ankara': 9.6, 'Ordu': 3.9, 'Van': 4.5}

In [39]:
sales_q2=pd.Series(q2)
sales_q2

Istanbul    1.4
Rize        4.3
Ankara      9.6
Ordu        3.9
Van         4.5
dtype: float64

In [ ]:
#.add(),fill.value

In [42]:
total_sales=sales_q1+sales_q2
total_sales

Ankara      15.2
Bursa        NaN
Istanbul    16.8
Izmir        NaN
Ordu         NaN
Rize         NaN
Van          NaN
dtype: float64

In [45]:
total_sales=sales_q1.add(sales_q2,fill_value=0)
total_sales

Ankara      15.2
Bursa        3.0
Istanbul    16.8
Izmir        4.3
Ordu         3.9
Rize         4.3
Van          4.5
dtype: float64

In [48]:
my_dict={'a': 1,'b': 2,'c':4}
count_1=pd.Series(my_dict)
count_1

a    1
b    2
c    4
dtype: int64

In [50]:
my_dict2={'p':3,'a':5,'c':6}
count_2=pd.Series(my_dict2)
count_2

p    3
a    5
c    6
dtype: int64

In [52]:
count_1.add(count_2,fill_value=0)

a     6.0
b     2.0
c    10.0
p     3.0
dtype: float64

In [53]:
my_series=pd.Series({'name': 'Zarema','surname': 'Dibirova','Age':26})
my_series

name         Zarema
surname    Dibirova
Age              26
dtype: object